.App {
  text-align: center;
}

.converter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hex-input {
  width: 200px;
  height: 50px;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.error-message {
  color: red;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
}

.error-message::after {
  content: "";
  position: absolute;
  bottom: 10;
  left: 6px;
  width: 200px;
  height: 50px;
  background-color:black;
  opacity: .2;
}

.rgb-output {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
}

.rgb-output p {
  color: white;
  z-index: 999;
}

.rgb-output::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 6px;
  width: 200px;
  height: 50px;
  background-color:black;
  opacity: .3;
}

